[submodule "bom"]
  path = bom
  url = git@github.com:ao-apps/semanticcms-file-bom.git
  branch = .
[submodule "all"]
  path = all
  url = git@github.com:ao-apps/semanticcms-file-all.git
  branch = .
[submodule "model"]
  path = model
  url = git@github.com:ao-apps/semanticcms-file-model.git
  branch = .
[submodule "renderer-html"]
  path = renderer-html
  url = git@github.com:ao-apps/semanticcms-file-renderer-html.git
  branch = .
[submodule "servlet"]
  path = servlet
  url = git@github.com:ao-apps/semanticcms-file-servlet.git
  branch = .
[submodule "style"]
  path = style
  url = git@github.com:ao-apps/semanticcms-file-style.git
  branch = .
[submodule "taglib"]
  path = taglib
  url = git@github.com:ao-apps/semanticcms-file-taglib.git
  branch = .
[submodule "view"]
  path = view
  url = git@github.com:ao-apps/semanticcms-file-view.git
  branch = .
