[submodule "model"]
	path = model
	url = git@github.com:aoindustries/semanticcms-file-model.git
[submodule "servlet"]
	path = servlet
	url = git@github.com:aoindustries/semanticcms-file-servlet.git
[submodule "style"]
	path = style
	url = git@github.com:aoindustries/semanticcms-file-style.git
[submodule "taglib"]
	path = taglib
	url = git@github.com:aoindustries/semanticcms-file-taglib.git
[submodule "view"]
	path = view
	url = git@github.com:aoindustries/semanticcms-file-view.git
[submodule "all"]
	path = all
	url = git@github.com:aoindustries/semanticcms-file-all.git
[submodule "renderer-html"]
	path = renderer-html
	url = git@github.com:aoindustries/semanticcms-file-renderer-html.git
